<div>
    This is the message from the partial view.
    <!--In a partial view the link will reference from the controller that is building the view. So if the Home>Index.html calls this partial view
        it will link to /Home/Index -->
    @Html.ActionLink("This is a link to the index action", "Index");
</div>